apex/
veri/
vision/
tutorial/
.idea/
__pycache__/
ignore/
saved_features/backup_features
saved_features/pytorch_result.mat

results/result_not_keep_5\.txt
results/*

saved_features/result_VeRi_siamese\.mat

deep-person-reid/*

model/*
network_attention/*

show\.png

Person-reID-triplet-loss/*
kmeans_pytorch/
